# Global
.*.swp
.DS_Store

# PHPStorm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# SSL Certs
docker/ssl/

# Application
src/app/composer.lock
src/app/vendor/
src/app/doc/
src/app/report/
data/
vendor/

/.phpunit.result.cache
/src/.phpunit.result.cache
/.idea/
src/.phpunit.result.cache